/**
 * Dit is een beschrijving van de lay-out van de webpagina.
 */
div.main, div.navigation {
   border: 1px solid #000;
}

div.navigation {
   background: #FFFF83;
   color: #000;
   float: left;
   width: 33%;
   margin: 0;
}

div.main {
   background: #fff;
   color: #000;
   float: left;
   width: 64%;
   margin-bottom: 0;
   border-left: 1px solid #000;
}

h2.contentTitle, h2.indexTitle {
   color: #fff;
   border: none;
   width: 100%;
   font-weight: bold;
   font-size: medium;
   text-align: center;
   margin-top: 0;
   padding: 0.1em;
   border: none;
}

h2.contentTitle {
   background: #6A76BA;
}

h2.indexTitle {
   background: #2EBAB8;
}
.hoverclass table ,.hoverclass td,.hoverclass th{
border : 1px solid black;
border-collapse: collapse;}

.hoverclass th{background:#B8B894;}
.hoverclass tr:nth-child(even) {background: #CCC;}
.hoverclass tr:nth-child(odd) {background: #FFF;}

.hoverclass tr:hover{
	background: #B8B894;
}
.header{
	background-color:pink;
	height: 100px;
	}
.header h1{
	color:white;
	text-align:center;
	margin-top:20px;
	}
.footer{
	clear: both;
	width:99%;
	background-color:black;

	}
.footer p,.footer a{
color :white;}